*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Amiri';
}
body{
    background-color: #e8effc;
    line-height: 1.5;
    font-size: 1.1rem;
}

.calc-wrapper{
    max-width: 900px;
    padding: 4rem 1rem;
    margin: 0 auto;
}
.calc-wrapper > div{
    background: #fff;
    padding: 1.5rem 2.5rem;
}
.calc-content{
    margin-bottom: 1.6rem;
}
.calc-content h2,
.result{
    font-size: 1.4rem;
    font-weight: 600;
    text-align:  center;
    opacity: 0.8;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0.4rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#calc-form{
    margin-top: 1.6rem;
}
.form-item{
    margin: 0.8rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input-name span{
    background-color: #77AAAD;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
}
.input-name{
    display: flex;
    align-items: center;
}
.input-name label{
    padding-left: 0.8rem;
}
.input-control input{
    font-size: 1.1rem;
    border: 2px solid rgba(0, 0, 0, 0.3);
    padding: 0.4rem 0.6rem;
    border-radius: 3px;
}
.input-control input:focus{
    outline: none;
}
.input-control span{
    padding-right: 0.6rem;
    font-weight: 300;
    opacity: 0.7;
}
.btns{
    margin-top: 2rem;
}
.btns input{
    background-color: #77AAAD;
    display: block;
    border: none;
    margin: 1rem auto 0 auto;
    font-family: inherit;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: #fff;
    padding: 0.7rem 0;
    width: 180px;
    border-radius: 3px;
    outline: 0;
    cursor: pointer;
}
.btns input:hover{
    opacity: 0.8;
}

@media screen and (max-width: 680px){
    .form-item{
        flex-direction: column;
        align-items: flex-start;
    }
    .input-name{
        margin-bottom: 0.6rem;
    }
    .input-control span{
        display: block;
    }
}